Task 5 and Task 6 - Country Classification and merging dataframes

SQL Query file - country.sql
SQL download file - country_list.csv

Task5 - Country Classification

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data_f={'country': ['Vietnam','Hong Kong', 'Japan', 'United States', 'Canada', 'Argentina', 'Brazil', 'Switzerland', 'Germany', 'India', 'Nigeria', 'Chad', 'Algeria'],
'revenue': [676.45, 104.76, 3122.51, 3685.81, 559.70, 1298.80, 2919.19, 248.41, 741.24, 6034.78, 1314.92, 122.72, 349.18]}
df6 = pd.DataFrame(data_f)
print(df6)

          country  revenue
0         Vietnam   676.45
1       Hong Kong   104.76
2           Japan  3122.51
3   United States  3685.81
4          Canada   559.70
5       Argentina  1298.80
6          Brazil  2919.19
7     Switzerland   248.41
8         Germany   741.24
9           India  6034.78
10        Nigeria  1314.92
11           Chad   122.72
12        Algeria   349.18

In [5]:
conditions = [ df6['revenue'] <= 113.98, (df6['revenue'] > 113.98) & (df6['revenue']<= 214.9850), 
     (df6['revenue'] > 214.9850) & (df6['revenue']<= 517.2925), df6['revenue'] > 517.2925 ]
choices = [ 'Q1', 'Q2', 'Q3', 'Q4']
#quartile is used to categorize the countries'revenue
#QD - means that the country's revenue falls within the lowest 25% of all the countries' revenue values in the dataset
#QC - means that the country's revenue is greater than the bottom 25% of the countries but falls below 50% of all the countries' revenue values in the dataset
#QB - means that the country's revenue is greater than the bottom 50%  the countries but falls below the upper 25% of all the countries' revenue values in the dataset
#QA - means that the country's revenue is in the top 25% of all countries' revenue
df6['rev_category'] = np.select(conditions, choices, default=np.nan)
df_new = df6[['country', 'rev_category']]
print(df_new)

          country rev_category
0         Vietnam           Q4
1       Hong Kong           Q1
2           Japan           Q4
3   United States           Q4
4          Canada           Q4
5       Argentina           Q4
6          Brazil           Q4
7     Switzerland           Q3
8         Germany           Q4
9           India           Q4
10        Nigeria           Q4
11           Chad           Q2
12        Algeria           Q3

In [5]:
df_new.head(13)

          country rev_category
0         Vietnam           Q4
1       Hong Kong           Q1
2           Japan           Q4
3   United States           Q4
4          Canada           Q4
5       Argentina           Q4
6          Brazil           Q4
7     Switzerland           Q3
8         Germany           Q4
9           India           Q4
10        Nigeria           Q4
11           Chad           Q2
12        Algeria           Q3

Task 6 - Merging two dataframes

In [6]:
df_country=pd.read_csv('Country_list.csv') 
country_merged=pd.merge(
    df_country, df_new, how='left', on = ['country']
    )
print(country_merged)

                  country rev_category
0             Afghanistan          NaN
1                 Algeria           Q3
2          American Samoa          NaN
3                  Angola          NaN
4                Anguilla          NaN
..                    ...          ...
104               Vietnam           Q4
105  Virgin Islands, U.S.          NaN
106                 Yemen          NaN
107            Yugoslavia          NaN
108                Zambia          NaN

[109 rows x 2 columns]

In [7]:
country_merged.head(109)

                  country rev_category
0             Afghanistan          NaN
1                 Algeria           Q3
2          American Samoa          NaN
3                  Angola          NaN
4                Anguilla          NaN
..                    ...          ...
104               Vietnam           Q4
105  Virgin Islands, U.S.          NaN
106                 Yemen          NaN
107            Yugoslavia          NaN
108                Zambia          NaN

[109 rows x 2 columns]