Task4 - Top 10 Actors who bringing the most revenue

SQL Query file - DVD_Rental_Actors.sql
SQl download file - Actors.csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
df=pd.read_csv('Actors.csv')
print('Top 10 Actors Bringing the Most Revenue')
df.head(10)
#Display the top 10 rows of the datafame, revenue data from csv file were arranged from highest revenue to lowest in postgres

Top 10 Actors Bringing the Most Revenue

           actor_name  revenue
0         Susan Davis  3193.49
1      Gina Degeneres  3129.17
2      Matthew Carrey  2543.78
3         Mary Keitel  2426.92
4      Scarlett Damon  2403.81
5         Walter Torn  2403.18
6         Henry Berry  2392.36
7    Christian Akroyd  2378.97
8  Angela Witherspoon  2357.11
9   Cameron Zellweger  2322.94